*
{   
    font-family: 'Franklin Gothic Medium', Arial,;
    margin: 0%;
    padding-right: 0.1%
    
}
header {
    border: 4px solid rgb(223, 49, 49);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}
header h1{
    -webkit-text-stroke: 0.5px rgb(255, 255, 255) ;
    text-align: center;
    text-shadow: 1px 1px rgb(139, 197, 138)  ;
    text-transform: uppercase;
}
ul,li{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content:end;

}
header li a{
    text-decoration: none;
    color:yellowgreen
}  
ul li{
    color:azure;
}     
header a:hover{
    color: aqua;
    cursor: pointer;
    text-decoration: none;
}
.mid{
    
    margin-top: 50px;
    margin-bottom: 300px;
    line-height: 40px;
}
footer h1,a{
    padding: 4px;;
    color: rgb(30, 175, 10);
    
    text-decoration: none;
}
footer a:hover{
    color:aqua;
    cursor: pointer;

}

